.fancy-list {
  list-style: none;
  padding: 0;
  margin-top: 100px;
  height: 50px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.fancy-list li {
  background: linear-gradient(135deg, #6a5acd, #836fff);
  color: #fff;
  padding: 28px 35px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.fancy-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.list-button {
  background-color: #fff;
  color: #6a5acd;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 5px;
}

.list-button:hover {
  background-color: #6a5acd;
  color: #fff;
  transform: scale(1.1);
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #f0f0f0; */
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark .list-button {
  background-color: #4c4195;
  color: #fff;
}

body.dark .list-button:hover {
  background-color: #7080fb;
  color: #170e50;
}

.theme-switcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.theme-button {
  background-color: #6a5acd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.theme-button:hover {
  background-color: #836fff;
  transform: scale(1.1);
}

.nav-button {
  background-color: #6a5acd;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 10px;
  display: block;
  width: 150px; /* Задаем одинаковую ширину */
  text-align: center;
  border: silver solid 2px;
}

.nav-button:hover {
  background-color: #836fff;
  transform: scale(1.1);
}

#dots-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(233, 255, 89);
  border-radius: 50%;
  opacity: 0.5;
}

span {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 20px;
}

.active-button {
  background-color: #fff;
  color: #6a5acd;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin: 5px;
  background-color: #6a5acd;
  color: #fff;
}
.git-hub-img {
  display: none;
}

#qr-code {
  display: block;
  position: fixed;
  bottom: 50px;
  scale: 130%;
  left: 50px;
  transition: 0.4s ease;
}

#qr-code:hover {
  scale: 140%;
}

.img_chick {
  scale: 60%;
  position: absolute;
  bottom: 300px;
  left: 10px;
  transition: 0.4s ease;
}

.img_chick:hover {
  scale: 65%;
}

.log-btn {
  display: block;
}

.main-header {
  background: linear-gradient(135deg, #6a5acd, #836fff);
  padding: 15px;
  width: 50%;
  text-align: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar {

  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  gap: 10px;
}


.nav-list li {
  margin: 0;
  padding: 10px;
  width: auto;
  border-radius: 10px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffd700;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .fancy-list {
    width: 90%;
    margin-top: 50px;
  }

  .fancy-list li {
    font-size: 1rem;
    padding: 10px 15px;
    margin: 5px;
  }

  .list-button {
    padding: 8px 12px;
    font-size: 0.9rem;
    margin: 3px;
  }

  .theme-switcher {
    bottom: 10px;
    right: 10px;
  }

  .theme-button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

  textarea {
    width: 90%;
    height: 50px;
    font-size: 0.9rem;
  }

  span {
    font-size: 1.2rem;
    padding-left: 10px;
  }
  #qr-code {
    display: none;
  }
  .git-hub-img {
    position: fixed;
    display: block;
    bottom: 1px;
  }

  li {
    margin: 20px;
    padding: 100px;
  }

  .log-btn {
    display: none;
  }

  .img_chick {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    background: #6a5acd;
    width: 50%;
    position: absolute;
    top: 50px;
    left: 0;
    text-align: center;
    margin: 20px; 
    background-color: #5143ac;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
    padding: 0;
  }

  .nav-list.active {
    display: flex;
    width: 50%;
    margin: 20px; 
    background-color: #5143ac;
    max-height: 300px; /* Достаточно, чтобы уместить все элементы */
    padding: 10px 0;
  }
  .nav-list .nav-button {
    border: silver solid 2px;
  }
  .menu-toggle {
    display: block;
  }
  .main-header{
    width: 83%;
  }
}
