<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>1</title>
  <link rel="stylesheet" href="/static/css/styles.css" />
  <script src="/static/js/main.js" defer></script>
</head>
<body>
  <header class="main-header">
    <nav class="nav-bar">
      <ul class="nav-list">
        <li><a href="/" class="nav-link"><button class="nav-button">Главная</button></a></li>
        <li><a href="/settings" class="nav-link"><button class="nav-button">Настройки</button></a></li>
        <li><a href="/log" class="nav-link"><button class="nav-button">Логи</button></a></li>
      </ul>
      <button class="menu-toggle" id="menu-toggle">&#9776;</button>
    </nav>
  </header>
  <div class="container">
    <div class="theme-switcher">
      <button id="theme-toggle" class="theme-button">Переключить тему</button>
    </div>
    <div id="dots-container"></div>
    <ul class="fancy-list">
      <li>
        Температура
        <span id="temp"></span>
      </li>
      <li>
        Влажность
        <span id="hum"></span>
      </li>
      <li>
        Режимы
        <a href="/mode/1"><button class="list-button" id="first-mode">1 режим</button></a>
        <a href="/mode/2"><button class="list-button" id="second-mode">2 режим</button></a>
        <a href="/mode/3"><button class="list-button" id="therd-mode">3 режим</button></a>
        <span id="mode"></span>
      </li>
      <li>
        Переворот яиц
        <a href="/motor/1"><button class="list-button">Включить</button></a>
        <a href="/motor/0"><button class="list-button">Выключить</button></a>
        <span id="motor_stat"></span>
      </li>
    </ul>
    <a href="https://github.com/IvanSemenkin/incubator-code-v4" target="_blank"><img id="qr-code" src="/static/img/qr-code.png"
        width="164" height="164" border="0" title="QR код"></a>
    <a class="git-hub-img" href="https://github.com/IvanSemenkin/incubator-code-v4"><img src="/static/img/git-hub-img.png" alt=""></a>
    <a href="https://fermerznaet.com/pticevodstvo/perepela/inkubaciya.html#m5" target="_blank"><img src="/static/img/chick.jpg"
        class="img_chick" alt="цыпа"></a>
  </div>
  </div>
</body>

</html>