<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Test</title>
  </head>
  <body>
    {% include "base.html" %}
    <hr />
    <h2><em>Подогрев {heater_status} {temp}</em></h2>
    <ul>
      <li>
        <b><a href="/heater_on">Включить нагрев</a></b>
      </li>
      <li>
        <b><a href="/heater_off">Выключить нагрев</a></b>
      </li>
    </ul>
    <h2><em>Вентилятор {fan_status} {hum}</em></h2>
    <ul>
      <li>
        <b><a href="/fan_on">Включить вентилятор</a></b>
      </li>
      <li>
        <b><a href="/fan_off">Выключить вентилятор</a></b>
      </li>
    </ul>
    <h2><em>Режимы инкубации</em></h2>
    <ul>
      <li>
        <b><a href="/mode_1">Режим 1</a></b>
      </li>
      <li><b>С 1 по 7 день: температура - 37,8 C°, влажность - 50-55%</b></li>
      <li>
        <b><a href="/mode_2">Режим 2</a></b>
      </li>
      <li><b>С 8 по 14 день: температура - 37,8 C°, влажность - 45%.</b></li>
      <li>
        <b><a href="/mode_3">Режим 3</a></b>
      </li>
      <li><b>С 15 по 17 день: температура - 37,5 C°, влажность - 65-70%</b></li>
      <li><b>Сейчас режим: {mode}</b></li>
    </ul>
  </body>
</html>
