<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Settings</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/settings.js" defer></script>
  </head>
  <body>
    <header class="main-header">
        <nav class="nav-bar">
          <ul class="nav-list">
            <li><a href="/" class="nav-link"><button class="nav-button">Главная</button></a></li>
            <li><a href="/settings" class="nav-link"><button class="nav-button">Настройки</button></a></li>
            <li><a href="/log" class="nav-link"><button class="nav-button">Логи</button></a></li>
          </ul>
          <button class="menu-toggle" id="menu-toggle">&#9776;</button>
        </nav>
      </header>
    <div class="container">
      <ul class="fancy-list">
        <li>
          Подогрев
          <a href="/heater/1"><button class="list-button">Включить</button></a>
          <a href="/heater/0"
            ><button class="list-button">Выключить</button></a
          >
          <span id="temp"></span>
        </li>
        <li>
          Вентилятор
          <a href="/fan/1"><button class="list-button">Включить</button></a>
          <a href="/fan/0"><button class="list-button">Выключить</button></a>
          <span id="hum"></span>
        </li>
        <li>
          Переворот яиц
          <a href="/motor/1"><button class="list-button">Включить</button></a>
          <a href="/motor/0"
            ><button class="list-button">Выключить</button></a
          >
          <span id="motor_stat"></span>
        </li>
      </ul>
    </div>
  </body>
  </html>
